<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "global.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | cssmin | safe }}
</style>
</head>
<body>
	<header>
		<h1>{{ title }}</h1>
	</header>
	<main>{{ content | safe }}</main>
</body>
</html>
